pre{
  line-height: 1.5;
}

/*h1
{   font-size: 40px;
        line-height:1.4;
        font-weight: bold;
        color: #0072ae;
           padding: 50px;
         border: 10px solid blue;
         margin: 50px;
         width: 1000px;
         font-size: 72px;
         letter-spacing: 0.40em;
         font-weight: 900;
         font-style: italic;
         box-sizing: content-box;
}*/
span {   background-color: green;  display: block; padding: 10px; margin-bottom: 10px; width: 300px;}

/****************
Basic
****************/

h1 {
  font-size: 70px;
  line-height:1.4;
  font-weight: bold;
  color: #0072ae;
}
.alt-headline {
  font-size: 40px;
}

h2 {
  font-size: 26px;
  font-style: italic;
  color: #eb2428;
  margin-bottom: 10px;
}

p {
  font: normal normal 18px/1.6 Georgia, 'Times New Roman', serif;
}
.wrapper {   margin: 0 auto;   width: 960px;  }
body{
  background-color: green;

}

.column {
  float:left;
  width: 290px;
   margin-left: 30px;
}
 .column:first-child {
   margin-left: 0;
}
.secondary_section {
  margin-bottom: 50px;
  background-color: green;
}

/* clearfix */
.grouping:before, .grouping:after {
  content: " ";
  display: table;
  }
  .grouping:after
  {
    clear: both;
  }

  .button {
    border: 2px solid #333;
     color: #333;
     padding: 10px 0;
     display: block;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     font-weight: bold;
     letter-spacing: 1.5px;
     transition: .25s all ease-in-out;
    }
.button-narrow {  width: 50%; }
.button-alt {color: #fff;  border-color: #fff;}
.button-right{ float: right;}
  .button:hover{
    color: green;
    background-color: white;
    transform: scale(1.15, 1.15) translate(0, -5px);
  }
  .figure {  float: left;  margin: 30px;  border: 10px solid #fff; }
  .figure img{float:left;}
  .figure img:hover{ transform: rotate(15deg);}


/*************** Global ***************/
